In [1]:
import pandas as pd

In [5]:
data = pd.read_clipboard(header=0)

In [6]:
data.head()

,Designations,Amount,Checked,Remainder,Categories,Information,Send to UK,Urgent level
0,EuroTrip,100,0.0,100.0,Money To UK,Compte UK,1.0,A
1,Tresor support A,80,0.0,80.0,Investement,"Contact dany Luc , et nick ils te font 240 + 8...",NaN,A
2,Jacob A,250,0.0,250.0,Geek Corner,contact un gard Jacob.. dit lui de te signer u...,NaN,A
3,Geek Corner/internet A,600,0.0,600.0,Geek Corner,"Contact un grad qui s'appele mwafrika, il va t...",NaN,A
4,Edith,100,0.0,100.0,Giving Birth,direct a elle,NaN,A

In [7]:
data.columns

Index(['Designations ', 'Amount ', 'Checked', 'Remainder', 'Categories',
       'Information ', 'Send to UK', 'Urgent level'],
      dtype='object')

In [11]:
data['Send to UK'] = data['Send to UK'].fillna(0).astype(int).replace({0: 'No', 1: 'Yes'})

In [15]:
send_to_uk = data.groupby('Send to UK').get_group('Yes')

In [16]:
send_to_uk.groupby('Send to UK').get_group('Yes')['Amount '].sum()

580

In [19]:
send_to_uk.loc[21, 'Amount '] = 0

/Users/es.py/Library/Caches/pypoetry/virtualenvs/deep-learning-nlp-stuff/lib/python3.7/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [20]:
send_to_uk.groupby('Send to UK').get_group('Yes')['Amount '].sum()

495

In [21]:
send_to_uk

,Designations,Amount,Checked,Remainder,Categories,Information,Send to UK,Urgent level
0,EuroTrip,100,0.0,100.0,Money To UK,Compte UK,Yes,A
9,Divin,150,0.0,150.0,Wedding,Envoie a mon compte UK,Yes,A
16,Papy Chelsea Shirt,100,0.0,100.0,Chill,Envoie mon compte UK,Yes,A
21,Budgeting App,0,0.0,85.0,Subscription,send UK,Yes,A
22,TV,85,0.0,85.0,Subscription,send uk,Yes,B
23,My US,60,0.0,60.0,Subscription,send UK,Yes,B

In [22]:
send_to_uk.loc[0, 'Amount '] = 0

/Users/es.py/Library/Caches/pypoetry/virtualenvs/deep-learning-nlp-stuff/lib/python3.7/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [23]:
send_to_uk

,Designations,Amount,Checked,Remainder,Categories,Information,Send to UK,Urgent level
0,EuroTrip,0,0.0,100.0,Money To UK,Compte UK,Yes,A
9,Divin,150,0.0,150.0,Wedding,Envoie a mon compte UK,Yes,A
16,Papy Chelsea Shirt,100,0.0,100.0,Chill,Envoie mon compte UK,Yes,A
21,Budgeting App,0,0.0,85.0,Subscription,send UK,Yes,A
22,TV,85,0.0,85.0,Subscription,send uk,Yes,B
23,My US,60,0.0,60.0,Subscription,send UK,Yes,B

In [24]:
send_to_uk.groupby('Send to UK').get_group('Yes')['Amount '].sum()

395