In [45]:
import pandas as pd

In [63]:
data= pd.read_csv("models-predictions-piaf.csv")

In [64]:
data.head()

,prediction,goldlabel
0,Ottomans.,Ottomans
1,"187 millions de yens, soit 1,7 million",base fixe de 68 millions de yens
2,Observé depuis une installation vidéo connecté...,immobilité
3,quelques heures à quelques mois,quelques jours
4,Le français est la langue officielle de la pro...,français

In [68]:
data.loc[data.exact_match == 0]

,prediction,goldlabel,exact_match
0,Ottomans.,Ottomans,0
1,"187 millions de yens, soit 1,7 million",base fixe de 68 millions de yens,0
2,Observé depuis une installation vidéo connecté...,immobilité,0
3,quelques heures à quelques mois,quelques jours,0
4,Le français est la langue officielle de la pro...,français,0
...,...,...,...
3829,ur III est caractérisé par des scènes dites,un grand dieu ou d'un roi divin,0
3831,calice velu est formé de deux sé,15 étamines,0
3832,Certains imaginent des hommes nageant sous l',des pourpoints de cuir » ou « scafand,0
3833,opérateur de métier à tisser dans une fabrique de,apprenti comme opérateur de métier à tisser dans,0
3834,douze kilomètres au nord-ouest d’Arp,au nord-ouest d’Arpajon,0

In [51]:
data = data.dropna()
### need to drop na.

In [69]:
from src.utils.evaluation_utils import compute_f1, compute_exact

In [53]:
import numpy as np

In [54]:
data.loc[:, ["prediction", "goldlabel"]].values

array([['porte du Marché', 'Marché'],
       ['une procession vers le canal', 'une procession'],
       ['Obsidian Cliffs', "collines d'Obsidian Cliffs"],
       ...,
       ['Les ailes de Pégase', 'Les ailes de Pégase'],
       ['toxicomanie', 'La toxicomanie'],
       ['Louis XIV', 'octobre 1666']], dtype=object)

In [55]:
compute_f1(data.prediction.values[-2].lower(), data.goldlabel.values[-2].lower())

1.0

In [70]:
data["f1_score"]  = np.vectorize(compute_f1)(data.prediction.str.lower(), data.goldlabel.str.lower())
data["exact_match"] = np.vectorize(compute_exact)(data.prediction.str.lower(), data.goldlabel.str.lower())

In [71]:
data.exact_match.value_counts(normalize=True)

0    0.828422
1    0.171578
Name: exact_match, dtype: float64

In [57]:
data.f1_score = data.f1_score.round(2)

In [60]:
data.loc[data.f1_score == 0].to_csv("wrong_predictions.csv")

In [72]:
data.f1_score.mean().round(2)

0.36

In [62]:
data.loc[data.f1_score == 0]

,prediction,goldlabel,exact_match,f1_score
4,la sincérité de ce discours en fait « la plus ...,mal social dans son ensemble,0,0.0
13,immigrés juifs,"Minsk, en Biélorussie",0,0.0
14,deux,quatre,0,0.0
16,le diagnostic et la méthode de prise en charge...,Il y a une grande variété dans la reconnaissan...,0,0.0
19,plus que modestes,trains de seconde classe et hôtels Merc,0,0.0
...,...,...,...,...
3173,valoir que la brucellose peut être éradi,vaccination,0,0.0
3177,BAMcinemaFest,Festival international du film de Rio de Janeiro,0,0.0
3181,1832,1748,0,0.0
3184,Hard Times,Nicholas Nickleby,0,0.0
3187,Louis XIV,octobre 1666,0,0.0